{% extends 'registration/base.html' %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
  {% if validlink %}
  <div class="modal-dialog" id="modal">
      <div class="loginmodal-container">
          <h1>Reset your password</h1><br>
          <form method="post" accept-charset="UTF-8" action=".">
             {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" id="btnSubmit" value="Cambiar Contraseña">
          </form>
      </div>
  </div>
  {% else %}
      <p>The password reset link was invalid, possibly because it has
    already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock content %}
