{% extends 'registration/base.html' %}

{% block title %}Registrate!{% endblock title %}
{% block content %}
<div class="modal-dialog" id="modal">
    <div class="loginmodal-container">
        <h1>Registrate en Lissandra</h1><br>
        <form method="post" accept-charset="UTF-8" action=".">
           {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" id="btnSubmit" value="Registrarme">
        </form>
        <div class="login-help">
            <a href="{% url 'login' %}">Entra en tu cuenta</a>
        </div>
    </div>
</div>
{% endblock content %}
